{% extends 'base.html' %}
{% block title %}CozyGames: booking{% endblock %}
{% block body %}
<div class="container">
    <div class="col-12">
        <div class="row">
            <h1 align="center">Booking your table</h1>
        </div>
        <div class="row-1 d-flex justify-content-center">
            <form action="{% url 'cozygames:booking' %}" method="POST" class="d-flex align-items-center">
                {% csrf_token %}
                <div style="margin-top: 20px;">
                    {{ form.as_p }}
                </div>
                <div style="margin-top: 0px; margin-left: 10px;">
                    <input type="submit" class="btn btn-primary custom-button" value="OK"/>
                </div>
            </form>
        </div>
        <div class="row-1 d-flex justify-content-center">
            <a href="{% url 'cozygames:cancel_bookings' %}">My reservation</a>
        </div>
        {% if tables %}
        <div class="row-1 d-flex justify-content-center">
            <h3>Available tables</h3>
        </div>
        <div class="row-1 d-flex justify-content-center">
            <div style="display: flex; flex-wrap: wrap;">
                {% for table in tables %}
                <div class="card m-2 bg-warning" style="width: 18rem;">
                    <div class="card-body" style="background-color: var(--card-body-bg-color);">
                        <h5 class="card-title text-center">Table {{ table.number }}</h5>
                        <p class="card-text text-center">
                            Type of table: {{ table.get_type_display }}<br>
                        </p>
                        <form action="{% url 'cozygames:booking_table' %}" method="POST" class="text-center">
                            {% csrf_token %}
                            <input type="hidden" name="table_id" value="{{ table.id }}">
                            <input type="hidden" name="date" value="{{ date|date:'Y-m-d' }}">
                            <input type="submit" value="Booking table" class="btn btn-primary custom-button">
                        </form>
                    </div>
                </div>

                {% endfor %}
            </div>
            {% else %}
            <div class="row-1 d-flex justify-content-center">
                <h3>No tables available</h3>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}