{% extends 'base.html' %}
{% block body %}
<div style="color: #f00" align="center">
    <h1>Warning</h1>
    <ul style="color:ff4d00;">This site is a pet project. Do not write your real data here.</ul>
</div>
<div class="container">
    <div class="col-12">
        <div class="row">
            <h2 align="center">
                Schedule
            </h2>
            <ul>
                <li>Monday - Friday: 5:00 PM - 12:00 AM</li>
                <li>Saturday - Sunday: 12:00 PM - 12:00 AM</li>
            </ul>
        </div>
        <div class="row">
            <h2 align="center">Prices</h2>
            <ul>
                Single visit 5$ per person for the entire time spent in the club) and gives you the right to play
                all day, use the club's game library and get help from the staff.
                <li>10 visits: 45$</li>
                <li>20 visits: 90$</li>
                <li>1 month: 100$</li>
            </ul>
        </div>
        <div class="row">
            <h2 align="center">Can I come alone?</h2>
            <ul>
                Of course. You can always find someone to play with at the club, and many people make close friends
                here.
                Also, every week we have themed game nights. The theme is chosen by voting on the website. You can also
                take
                part in choosing the theme.
            </ul>
        </div>
    </div>
</div>
{% endblock %}