{% extends 'base.html' %}
{% block title %}CozyGames: Voting{% endblock %}
{% block body %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12">
            <h1 class="text-center">Voting for the next day's game</h1>
            <div class="row-6 d-flex justify-content-center">
                Each day there is a vote for the game of the day. This game will be played tomorrow at the common table.
                Anyone can join the common table. Make your choice.
            </div>
            <div class="my-3"></div>
            {% if user.is_authenticated %}
            <div class="row-1 d-flex justify-content-center">
                You have votes left today: {{ left_votes }}
            </div>
            <div class="row-1 d-flex justify-content-center">
                <form action="{% url 'cozygames:voting' %}" method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" class="btn btn-outline-primary w-100" value="Vote"
                           data-toggle="modal" data-target="#profileModal"
                           style="background-color: #41B3A3; color: black;"
                           onmouseover="this.style.color='white'"
                           onmouseout="this.style.color='black'">
                </form>
            </div>
            {% else %}
            <div class="row-1 d-flex justify-content-center">
                Login to vote!
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}
