{% extends 'base.html' %}
{% block title %}CozyGames: Tournaments {% endblock %}
{% block body %}
<div class="container">
    <div class="row mt-5">
        <div class="col-12">
            <h1 class="text-center">Finished tournaments</h1>
            <!-- List of active tournaments -->
            <div class="list-group mt-3">
                {% for tournament in tournaments %}
                <a href="{% url 'forum:finished_tournament_detail' tournament.id %}"
                   class="list-group-item list-group-item-action"
                   style="background-color: {% cycle '#ffefd5;' 'var(--card-body-bg-color);' %}">
                    <div class="d-flex justify-content-between">
                        <span>{{ tournament.title }}</span>
                        <span>{{ tournament.date }}</span>
                    </div>
                </a>
                {% empty %}
                <h3 class="text-center">There are no tournaments yet.</h3>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}