{% extends 'base.html' %}
{% block title %}CozyGames: Profile{% endblock %}
{% block body %}
<div class="container">
    <div class="col-12">
        <div class="row">
            <h1 class="text-center">Your profile, {{ user.username }}</h1>
        </div>

        <div class="row-1 d-flex justify-content-center">
            <div style="display: flex; flex-wrap: wrap;">
                <div class="card m-2 bg-warning">
                    <div class="card-body" style="background-color: var(--card-body-bg-color);">
                        <div class="row justify-content-center mb-2">
                            <a class="btn btn-primary custom-button"
                               href="{% url 'cozygames:cancel_bookings' %}">My reservation</a>
                        </div>
                        <div class="row justify-content-center mb-2">
                            <a class="btn btn-primary custom-button"
                               href="{% url 'cozygames:booking_history' %}">Booking history</a>
                        </div>
                        <div class="row justify-content-center mb-2">
                            <a class="btn btn-primary custom-button"
                               href="{% url 'forum:my_tournaments' %}">My tournaments</a>
                        </div>
                        <div class="row justify-content-center">
                            <a class="btn btn-primary custom-button"
                               href="{% url 'forum:participating_tournaments' %}">Participating Tournaments</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row-1 d-flex justify-content-center">
            <div style="display: flex; flex-wrap: wrap;">
                <div class="card m-2 bg-warning">
                    <div class="card-body" style="background-color: var(--card-body-bg-color);">
                        <h5 class="card-title">Change your personal data</h5>
                        <form action="{% url 'users:profile' %}" method="POST">
                            {% csrf_token %}
                            {% for field in user_form %}
                            <div class="mb-3 d-block">
                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                <br>
                                {{ field }}
                                <div style="color: var(--error-text-color)">{{ field.errors }}</div>
                            </div>
                            {% endfor %}
                            {% for field in form %}
                            <div class="mb-3 d-block">
                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                <br>
                                {{ field }}
                                <div style="color: var(--error-text-color)">{{ field.errors }}</div>
                            </div>
                            {% endfor %}
                            <input type="submit" value="Change" class="btn btn-outline-primary w-100 custom-button"
                                   data-toggle="modal" data-target="#profileModal">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
